@charset "UTF-8";
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html,
body {
  min-height: 100%; }

body {
  font-family: 'Open_sans_light', sans-serif;
  font-weight: normal;
  background-color: #fff; }

.wrapper {
  box-sizing: border-box;
  min-height: 100%; }

.container {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1240px; }
  @media only screen and (max-width: 1179px) {
    .container {
      max-width: 1024px; } }
  @media only screen and (max-width: 1023px) {
    .container {
      max-width: 768px; } }
  @media only screen and (max-width: 767px) {
    .container {
      max-width: 600px; } }
  @media only screen and (max-width: 599px) {
    .container {
      max-width: 480px; } }
  @media only screen and (max-width: 479px) {
    .container {
      max-width: 100%; } }

.icon {
  background-repeat: no-repeat;
  display: inline-block; }

.icon-custom_made {
  background-image: url("../image/svg/custom_made.svg"); }

.icon-gaming_licence {
  background-image: url("../image/svg/gaming_licence.svg"); }

.icon-gaming_platform {
  background-image: url("../image/svg/gaming_platform.svg"); }

.icon-playmoney_solutions {
  background-image: url("../image/svg/playmoney_solutions.svg"); }

.icon-tw {
  background-image: url("../image/tw.png");
  width: 16px;
  height: 13px; }

.icon-fb {
  width: 9px;
  height: 16px;
  background-image: url("../image/fb.png"); }

@font-face {
  font-family: 'Farray_regular';
  src: url("fonts/farray.eot");
  src: url("fonts/farray.eot?#iefix") format("embedded-opentype"), url("fonts/farray.woff2") format("woff2"), url("fonts/farray.woff") format("woff"), url("fonts/farray.ttf") format("truetype"), url("fonts/farray.svg#farrayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ðžpen_sans_bold';
  src: url("fonts/opensans_bold.eot");
  src: url("fonts/opensans_bold.eot?#iefix") format("embedded-opentype"), url("fonts/opensans_bold.woff2") format("woff2"), url("fonts/opensans_bold.woff") format("woff"), url("fonts/opensans_bold.ttf") format("truetype"), url("fonts/opensans_bold.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open_sans_light';
  src: url("fonts/opensans_light.eot");
  src: url("fonts/opensans_light.eot?#iefix") format("embedded-opentype"), url("fonts/opensans_light.woff2") format("woff2"), url("fonts/opensans_light.woff") format("woff"), url("fonts/opensans_light.ttf") format("truetype"), url("fonts/opensans_light.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open_sans_regular';
  src: url("fonts/opensans_regular.eot");
  src: url("fonts/opensans_regular.eot?#iefix") format("embedded-opentype"), url("fonts/opensans_regular.woff2") format("woff2"), url("fonts/opensans_regular.woff") format("woff"), url("fonts/opensans_regular.ttf") format("truetype"), url("fonts/opensans_regular.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.header {
  background: url("../image/header_bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: 100% auto;
  padding: 273px 111px 89px;
  box-sizing: border-box; }
  .header__text-block {
    padding: 145px 56px;
    border: 2px solid #797979;
    border-bottom: 0;
    position: relative;
    max-width: 666px;
    box-sizing: border-box; }
    .header__text-block:before, .header__text-block:after {
      content: "";
      position: absolute;
      height: 2px;
      bottom: 0;
      background: #797979; }
    .header__text-block:before {
      left: 0;
      width: 31px; }
    .header__text-block:after {
      right: 0;
      left: 121px; }
  .header__title {
    font-family: 'Farray_regular', sans-serif;
    font-size: 72px;
    letter-spacing: 0.025em;
    color: #565656;
    text-transform: uppercase;
    margin: 0 0 40px;
    font-weight: normal; }
  .header__text {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #565656;
    font-weight: 400;
    margin: 0; }

.nav-button {
  background: transparent;
  position: absolute;
  font-size: 16px;
  line-height: 2px;
  padding: 15px;
  box-sizing: border-box;
  letter-spacing: -0.02;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  height: 50px;
  transition: 0.3s;
  font-weight: bold;
  width: 100%;
  outline: none; }
  .nav-button:hover {
    background: #69b547; }

.collection {
  position: relative;
  padding: 51px 0 50px 187px; }
  .collection__title {
    font-size: 30px;
    line-height: 40px;
    color: #d1cfcf;
    margin: 0;
    max-width: 60px;
    position: absolute;
    top: 145px;
    left: 44px;
    text-transform: uppercase;
    text-align: left; }
  .collection__content {
    border-top: 2px solid #a0b3b9;
    border-bottom: 2px solid #a0b3b9;
    position: relative;
    padding: 52px 0 51px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .collection__content:before, .collection__content:after {
      content: "";
      position: absolute;
      width: 2px;
      height: 33px;
      background: #a0b3b9;
      left: 0; }
    .collection__content:before {
      top: 0; }
    .collection__content:after {
      bottom: 0; }
  .collection__img {
    position: relative;
    left: -75px; }
  .collection__text-block {
    padding: 0 23px; }
  .collection__sub-title {
    font-size: 36px;
    color: #f0d2b0;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    margin: 0 0 25px;
    font-family: 'Farray_regular', sans-serif; }
  .collection__text {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #797979;
    max-width: 310px;
    margin: 0;
    font-weight: 400; }
  .collection__button {
    height: 60px;
    border: 2px solid #839da5;
    margin-top: 40px;
    color: #839da5;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    padding: 18px 30px;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s; }
    .collection__button:hover {
      background: #f0d2b0; }

.must-have {
  position: relative; }
  .must-have__title {
    font-size: 30px;
    line-height: 40px;
    color: #ebeff2;
    margin: 0;
    max-width: 60px;
    position: absolute;
    text-transform: uppercase;
    top: 16px;
    right: 47px; }
  .must-have__content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .must-have__img {
    width: 100%; }
  .must-have__item {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative; }
  .must-have__item-title {
    font-size: 36px;
    color: #f0d2b0;
    margin: 0 0 25px;
    text-transform: uppercase;
    font-family: 'Farray_regular', sans-serif;
    letter-spacing: 0.025em; }
  .must-have__text-block {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

.sale {
  padding: 36px 0 37px; }

.news {
  padding: 49px 10px;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .news__item {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 10px;
    box-sizing: border-box;
    width: 33.3333%;
    position: relative;
    overflow: hidden; }
    .news__item_first .news__text-block:before {
      background-image: url("../image/news_1.jpg"); }
    .news__item_second .news__text-block:before {
      background-image: url("../image/news_2.jpg"); }
    .news__item_third .news__text-block:before {
      background-image: url("../image/news_3.jpg"); }
  .news__img {
    width: 100%;
    height: auto; }
  .news__text-block {
    display: block;
    position: absolute;
    margin: 0 auto;
    border: 1px solid #fff;
    top: 20px;
    left: 53px;
    bottom: 20px;
    right: 53px;
    z-index: 2; }
    .news__text-block:before {
      content: "";
      top: 0;
      background-size: 100% 100%;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      position: absolute;
      background-position: center center;
      -webkit-filter: blur(5px);
              filter: blur(5px); }
  .news__item-title {
    font-size: 30px;
    letter-spacing: 0.075em; }
  .news__text {
    font-size: 14px; }
