// Media query screen sizes
$mobile-portrait: 320px
$mobile-landscape: 480px
$tablet-portrait: 600px
$tablet-landscape: 768px
$middle-desktop: 1024px
$large-desktop: 1180px

// Media query screen sizes
$gray: #565656
$orange-light: #f0d2b0
// Common styles
html,
body
    min-height: 100%

body
    font-family: 'Open_sans_light', sans-serif
    font-weight: normal
    background-color: #fff

.wrapper
    box-sizing: border-box
    min-height: 100%

.container
    position: relative
    box-sizing: border-box
    margin: 0 auto
    padding: 0 20px
    max-width: 1240px
    @include respond-to(middle-desktop)
        max-width: 1024px
    @include respond-to(tablet-landscape)
        max-width: 768px
    @include respond-to(tablet-portrait)
        max-width: 600px
    @include respond-to(mobile-landscape)
        max-width: 480px
    @include respond-to(mobile-portrait)
        max-width: 100%

