.news
    padding: 49px 10px
    box-sizing: border-box
    display: flex
    &__item
        flex: 1
        padding: 0 10px
        box-sizing: border-box
        width: 33.3333%
        position: relative
        overflow: hidden
        &_first
            .news__text-block:before
                background-image: url("../image/news_1.jpg")
        &_second
            .news__text-block:before
                background-image: url("../image/news_2.jpg")
        &_third
            .news__text-block:before
                background-image: url("../image/news_3.jpg")
    &__img
        width: 100%
        height: auto
    &__text-block
        display: block
        position: absolute
        margin: 0 auto
        //height: 249px
        //width: 271px
        border: 1px solid #fff
        top: 20px
        left: 53px
        bottom: 20px
        right: 53px
        z-index: 2
        &:before
            content: ""
            top: 0
            background-size: 100% 100%
            left: 0
            bottom: 0
            right: 0
            z-index: 1
            position: absolute
            background-position: center center
            filter: blur(5px)

    &__item-title
        font-size: 30px
        letter-spacing: 0.075em
    &__text
        font-size: 14px
